/**
 * GroupList Component Style for tingle
 * @author jiasong.js
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
// If you need tingle-style's utils, open the line below.
// @require '../node_modules/tingle-style/src/var'

.tGroupList
    background-color #fff
    margin-bottom 10px
    border-top 1px solid #ddd
    border-bottom 1px solid #ddd
.tGroupListItem
    border-bottom 1px solid #ddd
    &:last-child
        border-bottom none